<table class="table  table-responsive colg-lg-4" style="margin-bottom: 15px;">
    

    <thead class="thead-inverse" style="margin-top: 2px;">
        <tr>
            <th>Faits</th>
            <th>Auteurs</th>
            <th>Status</th>
            <th>Action</th> 
        </tr>
        </thead>
        <tbody>
           
        </tbody>
</table>
