
<%- include('./header'); %>


<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">OntoFood</h1>
                <p class="lead">OntoFood est une plateforme de recommandations nutritives et de partage des cultures culinaires,
                    venez partagez avec nous vos mets de vos pays et
                    decouvrez ceux des autres!!! Ensemble autour d'une et
                    une seule culture culinaire.</p>

            </div>
        </div>
        <form class="d-flex">
          <button class="btn btn-outline-dark" type="submit">
              <a href="/views/result_page.ejs" class="btn btn-success">Classes</a>
              <span class="badge bg-dark text-white ms-1 rounded-pill">+</span>
          </button>
      </form>
    </div>

</section>
<section id="services" class="section-bg">
  <div class="container"> 
    <div class="row">

    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
      <div class="box">
        <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
        <button class="btn btn-primary" id="btnAdd" style="float: right;">Ajouter</button>
        <p class="description">Remplir la base de connaissance</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
      <div class="box">
        <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
        <button class="btn btn-secondary" type="submit" id="btnMod" style="float: right;">Modifier</button>
        <p class="description">Connecter vous et Modifier</p>
      </div>
    </div>
    
    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
      <div class="box">
        <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
        <button class="btn btn-info" type="submit" id="btnCon" style="float: right;">Consulter</button>
        <p class="description">Visiter les information disponible dans les bases de connaissance</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
      <div class="box">
        <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
        <button class="btn btn-success" type="submit" id="btnReq" style="float: right;">Emettre une requète</button>
        <p class="description">Saisissez des requete sur le OWL.</p>
      </div>
    </div>
  </div>

  <!--===== Fenetre d'ajout===========-->
  <div class="bg-modalAdd">
    <div class="modal-content"> 

      <div class="close_Add">+</div>
      <p>
        Ajouter des infos
      </p>
      <div class="">
      <form method="" action="" style="float: right;">
        <label>Ajouter une classe:</label>
        <input type="" name="" placeholder="name">
        <label>Ajouter une propriétés:</label>
        <input type="" name="" placeholder="classe"><br>
        <label>Ajouter un :</label>
        <input type="" name="" placeholder="propriétés">
        <label>Ajouter un individu:</label>
        <input type="" name="" placeholder="individus">
        <br>
        <a href="" class="button">submit</a>
      </form>
    </div>
    </div>
  </div>
  <!--===== Fenetre de modification =========-->
   <div class="bg-modalMod">
    <div class="modal-content"> 

      <div class="close_Mod">+</div>
      <p>
        Modifier
      </p>
      <form method="" action="">
        <input type="" name="" placeholder="name">
        <input type="" name="" placeholder="prenom">
        <a href="" class="button">submit</a>
      </form>
    </div>
  </div>

   <!--==== Fenetre de consultation =======-->
   <div class="bg-modalCon">
    <div class="modal-content"> 

      <div class="close_Con">+</div>
      <p>
        Consulter
      </p>
      <form method="" action="">
        <input type="" name="" placeholder="name">
        <input type="" name="" placeholder="prenom">
        <a href="" class="button">submit</a>
      </form>
    </div>
  </div>

   <!--===== Fenetre de requète =====-->
   <div class="bg-modalReq">
    <div class="modal-content"> 

      <div class="close_Req">+</div>
      <p>
        Requète
      </p>
      <form class="form-inline my-5 my-lg-0">
        <input class="form-control mr-sm-5" type="search" placeholder="Resquest..." aria-label="requete">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Lancer</button>

      </form>
    </div>
  </div>
  <!--=== Fin =====-->

  </div>
</section>

<script type="text/javascript">
  document.getElementById('btnAdd').addEventListener('click', function(){
    document.querySelector('.bg-modalAdd').style.display = 'flex';
    
  });
  document.querySelector('.close_Add').addEventListener('click', function(){
    document.querySelector('.bg-modalAdd').style.display = 'none';
  });</script>

  <script type="text/javascript">
  document.getElementById('btnMod').addEventListener('click', function(){
    document.querySelector('.bg-modalMod').style.display = 'flex';
    
  });
  document.querySelector('.close_Mod').addEventListener('click', function(){
    document.querySelector('.bg-modalMod').style.display = 'none';
  });</script>

  <script type="text/javascript">
  document.getElementById('btnCon').addEventListener('click', function(){
    document.querySelector('.bg-modalCon').style.display = 'flex';
    
  });
  document.querySelector('.close_Con').addEventListener('click', function(){
    document.querySelector('.bg-modalCon').style.display = 'none';
  });</script>

  <script type="text/javascript">
  document.getElementById('btnReq').addEventListener('click', function(){
    document.querySelector('.bg-modalReq').style.display = 'flex';
    
  });
  document.querySelector('.close_Req').addEventListener('click', function(){
    document.querySelector('.bg-modalReq').style.display = 'none';
  });</script>
<%- include('footer');%>
