<!DOCTYPE html>
<html>
    <img id="searchbarimage" src="" />
<head>
    <title>OntoFood Search By Regions</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <div id="header">
        <div id="topbar">
            <p><h2 style="size: 100px;padding-left: 10px;">OntoFood</h2></p>
            <div id="searchbar" type="text" style="margin-left: 25px;">
                <input  id="searchbartext" type="text" placeholder="Taper le nom d'une region" />
                <button id="searchbarmic">
                    <p class="user"><i class="fa fa-search"></i></p>
                </button>
            </div>

        </div>
        <div id="optionsbar">
        </div>
    </div>

    <!-- Zone de resultat -->
    <div id="searchresultsarea">
        <p id="searchresultsnumber">About 155,000 results (0.56 seconds) </p>
        <div class="searchresult">
            <h2>Ouest</h2>
            <a>https://ontofood.com</a> <button>▼</button>
            <p>In computer science, a lock or mutex (from mutual exclusion) is a synchronization mechanism for enforcing limits on access to a resource in an</p>
            <p> environment where there are many threads of execution.</p>
        </div>

        <div class="searchresult">
            <h2>Sud</h2>
            <a>https://ontofood.com</a> <button>▼</button>
            <p>In computer science, a lock or mutex (from mutual exclusion) is a synchronization mechanism for enforcing limits on access to a resource in an</p>
            <p> environment where there are many threads of execution.</p>
        </div>
    </div>

<footer class="footer">
    <div id="footer">
        <div id="footerlocation">
            <p>Onto FOOD </p>
            <p> - Your ontolologie</p>
        </div>

        <ul id="footermenu">
            <li>Help</li>
            <li>Send feedback</li>
            <li>Privacy</li>
            <li>Terms</li>
        </ul>
    </div>
</footer>
</body>

</html>
