<%- include('./header'); %>

<head>
  <meta charset="UTF-8">
  <title>Researh</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <div class="left">
      <p>About</p>
      <p>Home</p>
    </div>
    <div class="right">
      <p>Go Back</p>
      <p>Details</p> 
      <p class="user"><i class="fas fa-user-circle"></i></p>
    </div>
  </header>
  
  <section class="main">
     <h1 class="page_name">ONTO FOODS</h1>
    <div class="form-group">
      <input type="texte">
      <label><i class="fas fa-microphone"></i></label>
    </div>
    
    <div class="buttons">
      <button>Food Search</button>
      <button>DM Searh</button>
    </div>
  </section>
</body>
