<%- include('./header')%>
<form class="main" action="/search/text" method="post">
     <h1 class="page_name">OntoFood</h1>
    <div class="form-group">
      <input type="text" name="search_word">
      <label><i class="fas fa-microphone"></i></label><!-- le resultat de la recherche doit etre dans search_result -->
    </div>
    
    <div class="buttons">
      <button type="input">Food Search</button>
      <button>DM Searh</button>
    </div>
  </form>
