<%- include('./header')%>
<form class="main" action="/text_search" method="post">
     <h1 class="page_name">OntoFood</h1>
    <div class="form-group">
<<<<<<< HEAD
      <input type="texte">
      <label><i class="fas fa-microphone"></i></label><!-- le resultat de la recherche doit etre dans search_result -->
=======
      <input type="text" name="search_word">
      <label><i class="fas fa-microphone"></i></label>
>>>>>>> de773ef49d5ed218eb1826c964206276b12c982f
    </div>
    
    <div class="buttons">
      <button type="input">Food Search</button>
      <button>DM Searh</button>
    </div>
  </form>
