<%- include('./header')%>
<form class="main" action="/text_search" method="post">
     <h1 class="page_name">ONTOFOOD</h1>
    <div class="form-group">
      <input type="text" class="search_word">
      <label><i class="fas fa-microphone"></i></label>
    </div>
    
    <div class="buttons">
      <button type="input">Food Search</button>
      <button>DM Searh</button>
    </div>
  </form>
